<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Intern Application Website</title>
<link rel="icon" href="../static/images/indian_railways.jpeg"
	th:href="@{images/indian_railways.jpeg}" type="image/png">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{css/style.css}">
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>


<style id="antiClickjack"> body{display:none !important;} </style>
<script type="text/javascript">
	if(self===top){
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	}
	else{
		top.location= self.location;
	}
</script>


	

	<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>

	<script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>

	

<script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>

<script src="../static/js/jquery-ui-1.10.3.custom.js" th:src="@{js/jquery-ui-1.10.3.custom.js}"></script>
<script src="../static/js/jquery.validate.min.js" th:src="@{js/jquery.validate.min.js}"></script>

<link rel="stylesheet" href="../static/css/jquery-ui-1.10.3.custom.css"
	th:href="@{css/jquery-ui-1.10.3.custom.css}">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">


<script>
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
   
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
   
    // Create download link element
    downloadLink = document.createElement("a");
   
    document.body.appendChild(downloadLink);
   
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
   
        // Setting the file name
        downloadLink.download = filename;
       
        //triggering the function
        downloadLink.click();
    }
}

function getEmailProjectWise()
{
	var project=$("#projectid").val();
if(project=="")
	{
	alert("Please select Project");
	return false;
	}
	$.ajax({
			url : "/internapp/api/v3/attendance/getEmailProjectWise",
			type : "GET",
			data:{ 
				"project":project
			},
			contentType: "application/json; charset=utf-8",
        dataType: "json",
			success : function(data) {
				
				$('#emailid').find('option').remove();
				if(data.length>0)
					{
			
					$('#emailid').append("<option value=''>SELECT</option>");	
							for(var i=0;i<data.length;i++)
							{
								$('#emailid').append('<option value='+data[i][0]+'>'+data[i][1]+'</option>');

						}
	
					}
				
				else{
					alert("No results found");
				}
		
			},
			error : function(error) {
			}
		});
	
	
	
	
	
	
}








    function getLeave()
    {
    	var email=$("#emailid").val();
    	var name= $("#emailid option:selected").text();
    	var projectName= $("#projectid").val();
    	
    	if(emailid=="")
    	{
    	alert("Please select Email");
    	return false;
    	}
    	
    	
    	$.ajax({
  			url : "/internapp/api/v3/leave/display",
  			type : "GET",
  			data:{ 
  				"email":email
  			},
  			contentType: "application/json; charset=utf-8",
            dataType: "json",
  			success : function(data) {
  				
  				document.getElementById("div123").innerHTML='';
  				if(data.length>0)
  					{
  					$('#exportexcel').show();
  						var phoneNo=data[0][7];
  							document.getElementById("div123").innerHTML ='<div class=bottom style="margin-left:5%;">'
		  					+'<table border = "1" width = "90%" >'
		  					+'<tr>'
		  					+'<th width="10%">Name</th><td width="15%">'+name+'</td>'
		  					+'<th width="10%">Email</th><td width="15%">'+email+'</td>'
		  					+'<th width="10%">Phone</th><td width="10%">'+phoneNo+'</td>'
		  					+'<th width="10%">Project</th><td width="10%">'+projectName+'</td>'
		  					
		  					+'</tr>'
		  					
		  					+'</table>'
		  					+'<br>'	
		  					+'<p style="color:blue;font-weight:bold">Leave Record of Selected Staff</p>'
  								
  							+'<table border = "1" width = "80%" >'
		  							 +'<col>'
		  							 +'<col>'
		  							 +'<col>'
		  						    +'<col>'
		  						  	
		  						 	+' <tr>'
		  						 	
		  						 	+'<th rowspan="2" width="10%" bgcolor = "yellow"><center>From Date</center></td>'
		  						 	+'<th rowspan="2" width="7%" bgcolor = "yellow"><center>From Time</center></td>'
		  						  	+'<th rowspan="2" width="10%" bgcolor = "yellow"><center>To Date</center></td>'
		  						  +'<th rowspan="2" width="7%" bgcolor = "yellow"><center>To Time</center></td>'
		  						 	+'<th rowspan="2" width="25%" bgcolor = "yellow"><center>Reason for Leave</center></td>'
		  						 
		  						  +'<th rowspan="2" width="10%" bgcolor = "yellow"><center>Status</center></td>'
		  						   +'<th rowspan="2" width="7%" bgcolor = "yellow"><center>No of Days</center></td>'
		  						  	+'</tr>'
		  						  

		  						 	+'</table>'
		  						  
		  							
		  							
		  							
		  					var noOfDays=0;		
  							for(var i=0;i<data.length;i++)
  							{
  			                   noOfDays= noOfDays+data[i][6];
  								document.getElementById("div123").innerHTML +='<div class=bottom style="margin-left:5%;">'
  									+'<table border = "1" width = "80%" >'
  									+'<tr>'
  									+'<td width="10%"><left>'+data[i][0]+'</td>'
  							    	+'<td width="7%" >'+data[i][1]+'</td>'
  							    	+'<td width="10%" >'+data[i][2]+'</left></td>'
  							    	
  							    	+'<td width="7%"><left>'+data[i][3]+'</left></td>'
  							    	+'<td width="25%"><left>'+data[i][4]+'</left></td>'
  							    	+'<td width="10%"><left>'+data[i][5]+'</left></td>'
  							    	+'<td width="7%"><left>'+data[i][6]+'</left></td>'
  							 		+' </tr>'
  							 		
  							 		
  							 	+'</table>'	
  								 
		  					
  		  							
  							
  					
  						}
  					document.getElementById("div123").innerHTML +='<div class=bottom style="margin-left:5%;">'
  					+'<table border = "1" width = "80%" >'
  									+'<tr>'
  				+'<th colspan="6" width="67.5"><left>Total No of Days</left></th><td width="9.5%"><left>'+noOfDays+'</left></td></tr>'
  				+'</table>'
				
					
  					
  					}
  				
  				else{
  					alert("No results found");
  				}
  				
  				
  				
  			},
  			error : function(error) {
  			}
  		});
    	
    	
    	
    	
    	
    	
    }
    
    </script>
    
 
</head>

<body>

	<nav class="navbar navbar-expand-tg navbar-dark bg-dark">
<a class="navbar-brand" href="#" th:href="@{/}"><img 
     src="../static/images/0.jpg"
     th:src="@{images/0.jpg}"
     style="width:17%;margin-right:5%;"/><span style="font-size:28px;">Intern Application Website</span>
     

</a>
<button class="navbar-toggler" type="button" data-toggle="collapse"
data-target="#navbarText" aria-controls="navbarText"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse"id="navbarText">
<ul class="navbar-nav ml-auto">
</ul>
</div>
</nav>
<br>
<br>
<legend class="text-center" style="color:red;font-size:30px;">Check Leave Record of the Individual candidate!!!</legend>
 
                <div class="my-5" >
                   <center>
                        <form>
                        <button type="button" style="float:left; margin-top:-7%;" class="btn btn-primary">
					
					<a class="nav-link" th:href="@{/admin}" style="color:white;">Back</a>
					
					</button>
					         <label style="font-size:150%;">Project</label>
  							<select id="projectid" name="projectname" onchange="getEmailProjectWise()"   style="width:25%;">
  							<option value="">SELECT</option>
  							<option value="BELA">BELA</option>
  							<option value="BLW">BLW</option>
  							<option value="MCFRBL">MCFRBL</option>
  							</select>
  							&nbsp;&nbsp;&nbsp;&nbsp;
 							 <label style="font-size:150%;">Name</label>
  							<select  id="emailid" name="emailname" style="width:25%;">
  							</select>

  							<button type="button"  class="btn btn-primary" onclick = "getLeave()" id="btnemail">Submit</button>
						</form>
						<div id="div123">
						
						</div>
						<div>
						<button type="button"  class="btn btn-info" onclick = "exportTableToExcel('div123', $('#emailid option:selected').text()+'_attendance')" id="exportexcel" style="display:none;">Export To Excel</button>
						</div>
						</center>
         
    </div>
    
    
</body>
</html>