<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	
<head>
	<meta charset="ISO-8859-1">
	<title>Application Status</title>

	<style id="antiClickjack"> body{display:none !important;} </style>
	
	<script type="text/javascript">
		if(self===top)
		{
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		}
		else
		{
			top.location= self.location;
		}
	</script>


	<link rel="icon" href="../static/images/indian_railways.jpeg" th:href="@{images/indian_railways.jpeg}" type="image/png">
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
	
	<script src="../static/js/main.js" th:src="@{js/main.js}"></script>
	<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
	<script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	<script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>
	<script src="../static/js/jquery-ui-1.10.3.custom.js" th:src="@{js/jquery-ui-1.10.3.custom.js}"></script>
	<script src="../static/js/jquery.validate.min.js" th:src="@{js/jquery.validate.min.js}"></script>

	<link rel="stylesheet" href="../static/css/jquery-ui-1.10.3.custom.css" th:href="@{css/jquery-ui-1.10.3.custom.css}">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
	<link th:href="@{'/css/Material+Icons.css'}" rel="stylesheet" type="text/css">
	
	<style>
		body {
			color: #566787;
			background: #f5f5f5;
			font-family: 'Varela Round', sans-serif;
			font-size: 16px;
		}
		
		.container-xl{
			margin:auto;
			width:90%;
		} 
		
		.table-title {        
			padding-bottom: 15px;
			background: #435d7d;
			color: #fff;
			padding: 16px 30px;
			min-width: 100%;
		/* 	margin: -20px -8px 10px; */
			border-radius: 3px 3px 0 0;
		}
		.table-title h2 {
			margin: 5px 0 0;
			font-size: 24px;
		}
		.table{
			margin:auto;
			background: #fff;
			padding: 20px 5px;
			border-radius: 3px;
			width: 100%;
			box-shadow: 0 1px 1px rgba(0,0,0,.05);
		}
		
		#resumeFileList {
		    display: none;
		    z-index: 1000;
		    position: absolute;
		    overflow: hidden;
		    border: 1px solid #CCC;
		    white-space: nowrap;
		    font-family: sans-serif;
		    background: #FFF;
		    color: #333;
		    border-radius: 5px;
		}
		
		#resumeFileList li {
		    padding: 8px 12px;
		    cursor: pointer;
		}
		
		#resumeFileList li:hover {
		    background-color: #DEF;
		}
		
		#idFileList {
		    display: none;
		    z-index: 1000;
		    position: absolute;
		    overflow: hidden;
		    border: 1px solid #CCC;
		    white-space: nowrap;
		    font-family: sans-serif;
		    background: #FFF;
		    color: #333;
		    border-radius: 5px;
		}
		
		#idFileList li{
		    padding: 8px 12px;
		    cursor: pointer;
		}
		
		#idFileList li:hover {
		    background-color: #DEF;
		}
		
		#certiFileList {
		    display: none;
		    z-index: 1000;
		    position: absolute;
		    overflow: hidden;
		    border: 1px solid #CCC;
		    white-space: nowrap;
		    font-family: sans-serif;
		    background: #FFF;
		    color: #333;
		    border-radius: 5px;
		}
		
		#certiFileList li{
		    padding: 8px 12px;
		    cursor: pointer;
		}
		
		#certiFileList li:hover {
		    background-color: #DEF;
		}
		
		ul {
		  list-style-type: none; /* Remove bullets */
		  padding: 0; /* Remove padding */
		  margin: 0; /* Remove margins */
		}
		
		
		.containerX {
		  position: relative;
		  width: 50%;
		  margin: auto;
		}
		
		.image {
		  opacity: 1;
		/*   width: 100%; */
		/*   height: 100%; */
		  transition: .5s ease;
		  backface-visibility: hidden;
		}
		
		.middle {
		  transition: .5s ease;
		  opacity: 0;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  text-align: center;
		}
		
		.containerX:hover .image {
		  opacity: 0.3;
		}
		
		.containerX:hover .middle {
		  opacity: 1;
		}
	</style>
</head>


<!-- HEADER FOR VIEW APPLICATION STATUS -->
<nav class="navbar navbar-expand-tg navbar-dark bg-dark">
	<a class="navbar-brand" href="#" th:href="@{/mentorPage}"><img 
	     src="../static/images/0.jpg"
	     th:src="@{images/0.jpg}"
	     style="width:17%;margin-right:5%;"/><span style="font-size:28px;">Intern Application Website</span>
	</a> 
	<ul class="navbar-nav ml-auto">
		<li class="nav-item mr-4 btn btn-primary active"><a class="nav-link" th:href="@{/mentorViewApplicationStatus}">Back</a></li>
	</ul>
	<ul class="navbar-nav">
		<li class="nav-item mr-4 btn btn-primary active"><a class="nav-link" href="/" th:href="@{/mentorPage}">Go to Home Page</a></li>
	</ul>
</nav>
<br><br>
<!-- END OF HEADER FOR VIEW APPLICATION STATUS -->


<!--FILES UPLOADED BY CANDIDATE --> 
<ul id='resumeFileList'>
  <li id='linkBtn' data-action = "ViewResume">View File</li>
</ul>
<ul id='idFileList'>
  <li id='linkBtn' data-action = "ViewId">View File</li>
</ul>
<ul id='certiFileList'>
  <li id='linkBtn' data-action = "ViewCerti">View File</li>
</ul>
<!--END OF FILES UPLOADED BY CANDIDATE --> 


<body style="margin-top: 0px; margin-bottom: 5%">
	<div class="container-xl">
		<div class="table-title">
			<h2 >Check Application Status (Email: <span id="email" th:text="${email}"></span>)</h2>
		</div>
		<table class="table table-bordered table-hover" th:if="${applicationFound == 'Yes'}">
			<thead>
				<tr>
					<th colspan=3 class="text-center"><b>--------------- APPLICATION ID: 
						<span id="applicationId" th:text="${displayApplication.id}"></span> ---------------</b>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th colspan=3 class="text-center">
						<b>------------ Personal Details ------------</b>
					</th>
				</tr>
				<tr>
					<td rowspan=4 style="padding:0px; margin:0px;" class="text-center">
						<div class="containerX text-center" style="margin-bottom:0px; padding-bottom:0px;">
							<img th:if="${image != null}" th:src="${image}" alt="Image" class="image" style="height:180px; width:140px; vertical-align:bottom; padding-bottom:0px; margin-bottom:0px;"> 
							<img th:if="${image == null}" th:src="@{/images/sampleimg.jpg}" style="height:180px; width:140px; vertical-align:bottom;" alt="Image"> 
							<div class="middle">
						 		<div><a onclick="launchEditIndividualForImage();" href="#"><i class="material-icons">edit</i></a></div>
						  	</div>
						</div>
					</td>
					<td colspan=2><b>Name: </b><span id="applicantName" th:text="${displayApplication.fullName}"></span></td>
				</tr>
				<tr>
					<td><b>Parent's Name: </b><span id="applicantParentName" th:text="${displayApplication.parentName}"></span></td>
					<td><b>Dob: </b><span id="applicantDob" th:text="${#dates.format(displayApplication.date_of_birth,'dd-MM-yyyy')}"></span></td>
				</tr>
				<tr>
					<td><b>Email: </b><span id="applicantEmail" th:text="${displayApplication.email}"></span></td>
					<td><b>Contact: </b><span id="applicantContact" th:text="${displayApplication.contact}"></span></td>
				</tr>
				<tr>
					<td colspan=2><b>Address: </b><span id="applicantAddress" th:text="${displayApplication.address}"></span></td>
				</tr>
				<tr>
					<th colspan=3 class="text-center">
						<b>------------ Academic Details ------------</b>
					</th>
				</tr>
				<tr>
					<td><b>College Name: </b><span id="applicantCollegeName" th:text="${displayApplication.schoolName}"></span></td>
					<td><b>College Id: </b><span id="applicantCollegeId" th:text="${displayApplication.schoolId}"></span></td>
					<td><b>Score: </b><span id="applicantScore" th:text="${displayApplication.score}"></span></td>
				</tr>
				<tr>
					<td colspan = 3 class="text-center text-muted">(Click on the file to view the file)</td>
				</tr>
				<tr>
					<td><b>Resume: </b><span><a id="resumeViewFile" th:href="@{|/downloadFiles/${displayApplication.id}/0|}" target="_blank">RESUME</a></span></td>
					<td><b>Id Proof: </b><span><a id="idViewFile" th:href="@{|/downloadFiles/${displayApplication.id}/3|}" target="_blank">ID_PROOF</a></span></td>
					<td><b>Certificates: </b><span><a id="certiViewFile" th:href="@{|/downloadFiles/${displayApplication.id}/2|}" target="_blank">CERTIFICATES</a></span></td>
				</tr>
				<tr>
					<td colspan=3><b>Area of Interest: </b><span id="applicantAreaOfInterest" th:text="${displayApplication.area_of_interest}"></span></td>
				</tr>
				
				<!-- STARTED -->
				<tr th:if="${displayApplication.status == 'Started'}">
					<td colspan=3 class="text-center"><b>Status: </b>The required documents are yet to be uploaded.</td>
				</tr>
				
				<!-- INITIATED -->
				<tr th:if="${displayApplication.status == 'Initiated'}">
					<td colspan=3 class="text-center"><b>Status: </b>The request for internship at CRIS is successfully registered.</td>
				</tr>
				
				<!-- APPROVED -->
				<tr th:if="${displayApplication.status == 'Approved'}">
					<td colspan=3 class="text-center"><b>Status: </b>The request for internship has been accepted.</td>
				</tr>
				
				<!-- REJECTED -->
				<tr th:if="${displayApplication.status == 'Rejected'}">
					<td colspan=3 class="text-center"><b>Status: </b>The request for internship has been rejected.</td>
				</tr>
				
				<!-- EXAM -->
				<tr th:if="${displayApplication.status == 'Exam'}">
					<td colspan=3 class="text-center"><b>Status: </b>The request for internship has been accepted, and an examination has been scheduled as a part of the selection process.
						<br><b>Date of examination: </b><span id="interviewTime" th:text="${#calendars.format(examMark.examdate, 'dd-MM-yyyy HH:mm')}"></span> 
						<br><b>Meeting Link for Examination: </b><a th:href="@{${examMark.exam_meeting_link}}" target="_"><span th:text="${examMark.exam_meeting_link}"></span></a>
					</td>
				</tr>
				
				<!-- NO EXAM -->
				<tr th:if="${displayApplication.status == 'NoExam'}">
					<td colspan=2 class="text-center"><b>Status: </b>Application has been accepted and No exam required for selected accepted intern. If exam to be conducted, the candidate will be notified.</td>
				</tr>
				
				<!-- EXAM OVER -->
				<tr th:if="${displayApplication.status == 'ExamOver'}">
					<td colspan=3 class="text-center"><b>Status: </b>Candidate has already given Exam.
						<hr><b>Score: </b>Java:<span id="javaMark" th:text="${examMark.java_marks}"></span>/<span id="javaTotal" th:text="${examMark.java_total}"></span>  , &nbsp;
						Python:<span id="pythonMark" th:text="${examMark.python_marks}"></span>/<span id="pythonTotal" th:text="${examMark.python_total}"></span> ,&nbsp;
						Android:<span id="androidMark" th:text="${examMark.android_marks}"></span>/<span id="androidTotal" th:text="${examMark.android_total}"></span> ,&nbsp;
						SQL:<span id="sqlMark" th:text="${examMark.sql_marks}"></span>/<span id="sqlTotal" th:text="${examMark.sql_total}"></span> ,&nbsp;
						Cloud:<span id="cloudMark" th:text="${examMark.cloud_marks}"></span>/<span id="cloudTotal" th:text="${examMark.cloud_total}"></span> 
					</td>
				</tr>
				
				<!-- REJECTED AFTER EXAM -->
				<tr th:if="${displayApplication.status == 'RejectedAfterExam'}">
					<td colspan=2 class="text-center"><b>Status: </b>The request for internship has been rejected after Exam.</td>
				</tr>
				
				<!-- NO INTERVIEW -->
				<tr th:if="${displayApplication.status == 'NoInterview'}">
					<td colspan=3 class="text-center"><b>Status: </b>Interview not required for the applicant.
						<hr><b>Score : </b>Java:<span id="javaMark" th:text="${examMark.java_marks}"></span>/<span id="javaTotal" th:text="${examMark.java_total}"></span>  , &nbsp;
						Python:<span id="pythonMark" th:text="${examMark.python_marks}"></span>/<span id="pythonTotal" th:text="${examMark.python_total}"></span> ,&nbsp;
						Android:<span id="androidMark" th:text="${examMark.android_marks}"></span>/<span id="androidTotal" th:text="${examMark.android_total}"></span> ,&nbsp;
						SQL:<span id="sqlMark" th:text="${examMark.sql_marks}"></span>/<span id="sqlTotal" th:text="${examMark.sql_total}"></span>,&nbsp;
						Cloud:<span id="cloudMark" th:text="${examMark.cloud_marks}"></span>/<span id="cloudTotal" th:text="${examMark.cloud_total}"></span>
					</td>
				</tr>
				
				<!-- MARKED -->
				<tr th:if="${displayApplication.status == 'Marked'}">
					<td colspan=3 class="text-center"><b>Status: </b>The applicant has successfully appeared for the interview.
						<hr><b>Score : </b>Java:<span id="javaMark" th:text="${examMark.java_marks}"></span>/<span id="javaTotal" th:text="${examMark.java_total}"></span>  , &nbsp;
						Python:<span id="pythonMark" th:text="${examMark.python_marks}"></span>/<span id="pythonTotal" th:text="${examMark.python_total}"></span> ,&nbsp;
						Android:<span id="androidMark" th:text="${examMark.android_marks}"></span>/<span id="androidTotal" th:text="${examMark.android_total}"></span> ,&nbsp;
						SQL:<span id="sqlMark" th:text="${examMark.sql_marks}"></span>/<span id="sqlTotal" th:text="${examMark.sql_total}"></span>,&nbsp;
						Cloud:<span id="cloudMark" th:text="${examMark.cloud_marks}"></span>/<span id="cloudTotal" th:text="${examMark.cloud_total}"></span>&nbsp;
						<br> <b>Interview Mark :</b> <span id="interview" th:text="${interviewMark}"></span>
					</td>
				</tr>
				
				<!-- INTERVIEW -->
				<tr th:if="${displayApplication.status == 'Interview'}">
					<td colspan=3 class="text-center"><b>Status: </b>The applicant has an interview scheduled at <b><span id="interviewTime" th:text="${#calendars.format(examMark.interview_time, 'dd/MM/yyyy HH:mm')}"></span></b> as a part of the selection process.<br><b>Interview Link: </b><a th:href="@{${examMark.interview_meeting_link}}" target="_"><span th:text="${examMark.interview_meeting_link}"></span></a></td>
				</tr>
				
				<!-- REJECT AFTER INTERVIEW -->
				<tr th:if="${displayApplication.status == 'RejectAfterInterview'}">
					<td colspan=3 class="text-center"><b>Status: </b>The request for internship has been rejected after Interview.
						<<hr><b>Score: </b>Java:<span id="javaMark" th:text="${examMark.java_marks}"></span>/<span id="javaTotal" th:text="${examMark.java_total}"></span>  , &nbsp;
						Python:<span id="pythonMark" th:text="${examMark.python_marks}"></span>/<span id="pythonTotal" th:text="${examMark.python_total}"></span> ,&nbsp;
						Android:<span id="androidMark" th:text="${examMark.android_marks}"></span>/<span id="androidTotal" th:text="${examMark.android_total}"></span> ,&nbsp;
						SQL:<span id="sqlMark" th:text="${examMark.sql_marks}"></span>/<span id="sqlTotal" th:text="${examMark.sql_total}"></span> ,&nbsp;
						Cloud:<span id="cloudMark" th:text="${examMark.cloud_marks}"></span>/<span id="cloudTotal" th:text="${examMark.cloud_total}"></span> 
					</td>
				</tr>
				
				<!-- JOINING APPROVED -->
				<tr th:if="${displayApplication.status == 'JoiningApproved'}">
					<td colspan=3 class="text-center"><b>Status: </b>The applicant has approved for Joining.<br><b>Joining Date: </b><span id= "joiningDateText"  th:text="${#calendars.format(user.join_date, 'dd-MM-yyyy')}"></span> to <span id= "endDateText"  th:text="${#calendars.format(user.end_date, 'dd-MM-yyyy')}"></span>
						<span id="projectText" style="display:none;" th:text="${user.project}"></span>
						<span id="mentorText" style="display:none;" th:text="${user.mentorEmail}"></span>
						<hr><b>Score: </b>Java:<span id="javaMark" th:text="${examMark.java_marks}"></span>/<span id="javaTotal" th:text="${examMark.java_total}"></span>  , &nbsp;
						Python:<span id="pythonMark" th:text="${examMark.python_marks}"></span>/<span id="pythonTotal" th:text="${examMark.python_total}"></span> ,&nbsp;
						Android:<span id="androidMark" th:text="${examMark.android_marks}"></span>/<span id="androidTotal" th:text="${examMark.android_total}"></span> ,&nbsp;
						SQL:<span id="sqlMark" th:text="${examMark.sql_marks}"></span>/<span id="sqlTotal" th:text="${examMark.sql_total}"></span>,&nbsp;
						Cloud:<span id="cloudMark" th:text="${examMark.cloud_marks}"></span>/<span id="cloudTotal" th:text="${examMark.cloud_total}"></span>,&nbsp;<br> <b>Interview Mark:</b> <span id="interview" th:text="${interviewMark}"></span>
					</td>
				</tr>
				
				<!-- REJECT AFTER JOINING APPROVE -->
				<tr th:if="${displayApplication.status == 'RejectAfterJoiningApprove'}">
					<td colspan=3 class="text-center"><b>Status: </b>The applicant is rejected after not joining the internship dated from <i><span id= "joiningDateText"  th:text="${#calendars.format(user.join_date, 'dd-MM-yyyy')}"></span></i> to <i><span id= "endDateText"  th:text="${#calendars.format(user.end_date, 'dd-MM-yyyy')}"></span></i>
					 	in <i><span id="projectText"  th:text="${user.project}"></span></i>
						<span id="mentorText" style="display:none;" th:text="${user.mentorEmail}"></span> project
					</td>
				</tr>
				
				<!-- JOINED -->
				<tr th:if="${displayApplication.status == 'Joined'}">
					<td colspan=3 class="text-center"><b>Status: </b>The applicant is an intern at CRIS from <i><span id= "joiningDateText"  th:text="${#calendars.format(user.join_date, 'dd-MM-yyyy')}"></span></i> to <i><span id= "endDateText"  th:text="${#calendars.format(user.end_date, 'dd-MM-yyyy')}"></span></i>
					 	in <i><span id="projectText"  th:text="${user.project}"></span></i>
						<span id="mentorText" style="display:none;" th:text="${user.mentorEmail}"></span> project
					</td>
				</tr>
				
				<!-- RELIEVED -->
				<tr th:if="${displayApplication.status == 'Relieved'}">
					<td colspan=2 class="text-center"><b>Status: </b>The intern has successfully completed their internship here.</td>
					<td><a class="btn btn-success text-white" id="btnvc"  onclick="viewc()">View Certificate</a></td>
				</tr>
				
			</tbody>
		</table>
		<table class="table table-bordered table-hover" th:if="${applicationFound == 'No'}">
			<thead>
				<tr>
					<th colspan=3 class="text-center">No application with the given credentials found.</th>
				</tr>
			</thead>
		</table>
		<div class="alert alert-info mt-2" role="alert">
			In case of any discrepancy in the above mentioned information, kindly contact <b><i>cris.manoj.05@gmail.com</i></b>
		</div>
	</div>
</body>

<script>
	$(document).ready(function()
	{
		
		//For viewing ID proof
	  	$("#idFileList li").click(function()
	  	{
	    	document.getElementById('idViewFile').click(); 
	    	break;
		    // Hide it AFTER the action was triggered
		    $("#idFileList").hide(100);
		});
		
		//For viewing resume
		$("#resumeFileList li").click(function()
		{
	    	document.getElementById('resumeViewFile').click();
			break;
	    	// Hide it AFTER the action was triggered
	   		$("#resumeFileList").hide(100);
	  	});
	  	
	  	//For viewing certificate
	  	$("#certiFileList li").click(function()
	  	{
	    	document.getElementById('certiViewFile').click(); 
	    	break;
	        // Hide it AFTER the action was triggered
	    	$("#certiFileList").hide(100);
	  	});
  	})
  	
  	function viewc()
  	{
		var applicantId=$('#applicationId').html();
		alert(applicantId);
		$.ajax
		({ 
			url : "/internapp/api/v2/getCerti",
			type : "GET",
			data : 
			{
				"id" : applicantId
			},
			success : function(data)
			{
				if(data.length<=0)
				{
					alert("No certificate uploaded yet");
				}
				else
				{
					alert("Please just happen!!! T_T")
					window.open("http://203.176.112.83/uploads/"+applicantId.toString()+"/4/"+data, "_blank");
				}
			}
		});
	}
	
</script>

</html>